h2{
    font-size: large;
}

.app{
    max-width: 20rem;

}
.wrapper{
    display:inline-flex;
    justify-content: left;
    text-align:left;
    max-width: 7rem;
    overflow-wrap: break-word;
    justify-content: start;
}

img{
    max-width: 8rem;
}
